
{% extends 'products/base.html' %}
{% load bootstrap4 %}



{% block content %}
<h2 style="text-align: center">Add product</h2>
<div class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {% crispy form %} {% endcomment %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary text-white mr-3">Add product</button>
    </form>
</div>

{% endblock %}
