{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card">
            <img src="{{product.image.url}}" alt="Card Image">
        </div>
        <div class="details">
            <h2>{{product.title}}</h2>
            <p>Description: {{product.description}}</p>
            <p>Price: {{product.price}}$</p>
            <p>Car Owner: {{product.owner}}</p>
            <div class="buttons"> 
                <a href="{% url 'home'%}" class="btn bg-primary text-white">Back</a>
            </div>
        </div>
    </div>

{% endblock %}
